<?xml version="1.0"?>

<launch>

  <include file="$(find hector_tracked_vehicles_description)/launch/xacrodisplay_common.launch">
    <arg name="robot_description" value="$(find xacro)/xacro.py $(find hector_tracked_vehicles_description)/urdf/obelix_ugv_vision_box_small_arm.urdf.xacro"/>  
  </include>

</launch>
