<?xml version="1.0"?>

<launch>
  
  <include file="$(find hector_tracked_vehicles_description)/launch/xacrodisplay_common.launch">
    <arg name="robot_description" value="$(find xacro)/xacro.py '$(find hector_tracked_vehicles_description)/urdf/bertl_ugv_vision_box.urdf.xacro'"/>  
  </include>  
  
</launch>

