<?xml version="1.0"?>

<robot name="jasmine_ugv" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/jasmine_ugv_base.urdf.xacro" />
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/jasmine_2018_structure_addons.urdf.xacro" />
    <xacro:include filename="$(find hector_components_description)/urdf/vlp16_mount.urdf.xacro.xml"/>
    <xacro:include filename="$(find hector_components_description)/urdf/tracker_sensor_head.urdf.xacro.xml"/>
    
    <xacro:include filename="$(find hector_tracked_vehicles_description)/calibrations/spin_lidar_calibration.urdf.xacro"/>
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/jasmine_2018_ugv_arm.urdf.xacro" />
    <xacro:include filename="$(find hector_sensors_description)/urdf/realsense_d435_camera.urdf.xacro"/>

    <!--file
    <xacro:property name="vlp16_calibration">
      <origin xyz="0.0 0.0 0.09446" rpy="${M_PI*0.250} 0.0 ${M_PI}"/>
    </xacro:property>
    -->
    
    <xacro:arg name="add_default_geom" default="true"/>
    <xacro:arg name="add_containment_self_filter_geom" default="false"/>
    <xacro:arg name="add_raycast_self_filter_geom" default="false"/>
    
    <xacro:jasmine_ugv_macro>
<!--      <xacro:arg name="add_default_geom" default="$(arg add_default_geom)"/>
      <xacro:arg name="add_containment_self_filter_geom_" default="$(arg add_containment_self_filter_geom)"/>
      <xacro:arg name="add_raycast_self_filter_geom" default="$(arg add_raycast_self_filter_geom)"/>-->
    </xacro:jasmine_ugv_macro>
    
    <!--    
    <xacro:vision_box parent="base_link" box_type="hector2">
      <origin xyz="-0.05 0 0.11" rpy="0 0 0"/>
    </xacro:vision_box>
    -->
    
    <xacro:manipulator_arm_macro parent="base_link">
      <origin xyz="-0.1618 -0.06875 0.01315" rpy="0.0 0.0 ${M_PI/2}" />
    </xacro:manipulator_arm_macro>
    
    <xacro:tracker_sensor_head_macro parent="base_link">
      <origin xyz="${+0.18 } 0.04 ${0.05}" rpy="0.0 -0.0 ${0.0}"/>    
    </xacro:tracker_sensor_head_macro>

    <xacro:jasmine_2018_structure_addons_macro parent="base_link" alu_profile_collision_size_factor="1.5">
     <origin xyz="0 0 0" rpy="0 0 0"/>       
    </xacro:jasmine_2018_structure_addons_macro>
    
    <xacro:spinning_sensor_mount_macro parent="base_link"  name="spin_lidar" scaling="0.001">
      <!-- the angles are due to ground calibration with tud tracker vlp16 -->
      <origin xyz="${+0.0 } 0.0 ${0.27 + 0.0944673}" rpy="0.0 0.0 0"/>
    </xacro:spinning_sensor_mount_macro>
        
    <xacro:realsense_d435_camera_comprehensive_params name="manipulation_rgbd_cam" parent="base_link" image_topic="image_rect_color" depth_points_topic="depth/points" min_range="0.3" max_range="9.0" update_rate="20">
      <origin xyz="-0.08 -0.005 0.454" rpy="0.0 ${25*M_PI/180.0} ${M_PI}"/>
    </xacro:realsense_d435_camera_comprehensive_params>
    
    <xacro:include filename="$(find hector_sensors_description)/urdf/camera360.urdf.xacro"/>
    
    <xacro:camera360 name="camera360" right_cam_name="right" left_cam_name="left" parent="base_link" ros_topic="image_raw" update_rate="10" res_x="1504" res_y="1504" image_format="R8G8B8" fov="${M_PI}">
      <origin xyz="0.0 0.0 0.58" rpy="0.0 0 0"/>
      <origin xyz="0.00009742  0.00061696 -0.03850784" rpy="3.1373499 -0.0021358 -3.1279404"/>
<!--       <origin xyz="0.03850784 0 0" rpy="0 0 ${M_PI}"/> -->
    </xacro:camera360>

    
</robot>
