<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro" name="argo_tracker_structure_addons">
  
  <xacro:include filename="$(find hector_components_description)/urdf/autonomy_box.urdf.xacro" />

  
  <xacro:property name="M_PI" value="3.14159265359"/>
    
  <xacro:macro name="jasmine_2018_structure_addons_macro" params="parent *origin alu_profile_collision_size_factor name:='autonomy_box'">
    <xacro:autonomy_box_macro parent="${parent}" alu_profile_collision_size_factor="${alu_profile_collision_size_factor}" name="${name}" add_chilitags="false">
      <xacro:insert_block name="origin"/>
    </xacro:autonomy_box_macro>
  </xacro:macro>
</robot>
