<?xml version="1.0"?>

<robot name="jasmine_ugv" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/jasmine_ugv_base.urdf.xacro" />
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/jasmine_2018_structure_addons.urdf.xacro" />
    <xacro:include filename="$(find hector_components_description)/urdf/vlp16_mount.urdf.xacro.xml"/>
    <xacro:include filename="$(find hector_components_description)/urdf/tracker_sensor_head.urdf.xacro.xml"/>
    
    <xacro:property name="vlp16_calibration">
      <origin xyz="0.0 0.0 0.09446" rpy="${M_PI*0.250} 0.0 ${M_PI}"/>
    </xacro:property>
    
    <xacro:jasmine_ugv_macro />
    
    <!--    
    <xacro:vision_box parent="base_link" box_type="hector2">
      <origin xyz="-0.05 0 0.11" rpy="0 0 0"/>
    </xacro:vision_box>
    -->
    
    <xacro:tracker_sensor_head_macro parent="base_link">
      <origin xyz="${+0.18 } 0.0 ${0.05}" rpy="0.0 -0.0 ${0.0}"/>    
    </xacro:tracker_sensor_head_macro>

    <xacro:jasmine_2018_structure_addons_macro parent="base_link">
     <origin xyz="0 0 0" rpy="0 0 0"/>       
    </xacro:jasmine_2018_structure_addons_macro>
        
    
    <xacro:spinning_sensor_mount_macro parent="base_link"  name="spin_lidar" scaling="0.001">
      <!-- the angles are due to ground calibration with tud tracker vlp16 -->
      <origin xyz="${+0.0 } 0.0 ${0.27}" rpy="0.0052159 -0.00553223 -1.85"/>
    </xacro:spinning_sensor_mount_macro>
    
    <xacro:include filename="$(find hector_sensors_description)/urdf/ricoh_theta.urdf.xacro"/>
    
    <xacro:ricoh_theta_camera name="ricoh_theta" cam_front_name="right" cam_rear_name="left" parent="base_link" ros_topic="image_raw" cam_info_topic="camera_info" update_rate="10" res_x="640" res_y="640" image_format="R8G8B8" fov="${M_PI}">
      <origin xyz="0.0 0.0 0.595" rpy="0 0 0"/>
    </xacro:ricoh_theta_camera>

    
</robot>
