<?xml version="1.0"?>
<robot name="obelix" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <xacro:include filename="$(find hector_tracked_vehicles_description)/obelix_flipper.urdf.xacro"/>
 

  <obelix_flipper name="obelix">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </obelix_flipper>

  <!--
  <rosie_head parent="base_link"/>
  <rosie_shoulder_laser parent="base_link"/>
  -->
  <!-- <dlr_hit_right_hand name = "right_hand" parent = "right_arm_7_link">
    <origin xyz="-0.075 -0.075 -0.094" rpy="${0.5*M_PI} 0 ${(1.5 + 0.25)*M_PI}"/>
  </dlr_hit_right_hand>
  
  <dlr_hit_left_hand name = "left_hand" parent = "left_arm_7_link">
    <origin xyz="0.075 -0.075 -0.094"  rpy="${-0.5*M_PI} 0 ${(1.5 - 0.25)*M_PI}"/>
  </dlr_hit_left_hand> -->

</robot>

