<?xml version="1.0"?>

<robot name="obelix_ugv" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/obelix_ugv_base.urdf.xacro" />
    <xacro:obelix_ugv_macro />
    
    <xacro:include filename="$(find hector_tracked_vehicles_description)/urdf/obelix_ugv_base.gazebo.xacro" />
  
</robot>
